@import "tailwindcss";

body {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
}


.bg-opacity{
    background-color: rgba(153, 153, 171, 0.5);
    backdrop-filter: blur(6px);
}